.container{
    width: 1850px;
    background-color: silver;
    margin: 0px auto;
    display: block;
    padding: 30px;
}
.top-nav {
    height: 150px;
    background-color: green;
    display: block;
    margin: 1%;

}
.side-nav {
    height: 650px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 1%;
}

.main {
    height: 900px;
    width: 1560px;
    background-color: red;
    display: inline-block;
    margin: 1%;
}
.sub-content {
    height: 650px;
    width: 450px;
    background-color: yellow;
    margin: 1%;
    display: inline-block;
}
#advertisement {
    height: 120px;
    width: 1500px;
    background-color: purple;
    box-sizing: border-box;
    position: relative;
    margin:1%;
    display: block;
}

